  *, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, 'Arial', 'Helvetica';
  }



  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .title {
    color:  rgb(78, 78, 78);;
    font-size: 30px;
  }

  .text {
    color: rgb(78, 78, 78);
    font-size: 20px;
    font-weight: bold;
  }

  #location_name {
    color: lavender;
  }

  .controls {
    display: flex;
    flex-direction: column;
    float: left;
  }
  
  .btn-group  {
    background: #E6E6FA;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(163, 177, 198, 0.8), -2px -2px 5px rgba(250, 250, 250, 0.8);
    outline: none;
    border-radius: 10px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    float: left;
    width: fit-content;

  }
  
  .btn{
    
    background: #E6E6FA;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 5px 5px 10px rgba(163,177,198,0.5), -5px -5px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-radius: 15px;
    margin: 7px;
 
  }

  .btn-selected {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    background-color: #396a9b;
  }
  /* Add a background color on hover */
  .btn:hover {
    color: white;
    background-color: #396a9b;
  }


  #tooltip {
    text-align: left;
    padding: 16px;
    background-color: rgb(142, 161, 177);
    border: 1px solid black;
    width: auto;
    opacity: 0;
    color: black;
    position: absolute;
  }


  

