  *, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, 'Arial', 'Helvetica';
  }



  .section {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .map{
    position: relative;
    margin-left: 2rem;
    margin-right: 1rem;
    align-content: center;

  }


  .title {
    color:  rgb(78, 78, 78);;
    font-size: 30px;
  }

  .text {
    color: rgb(99, 99, 99);
    font-size: 20px;
    font-weight: bold;
  }

  #location_name {
    color: lavender;
  }

  .controls {
    display: flex;
    flex-direction: column;
    float: left;
  }
  
  .btn-group  {
    background: #E6E6FA;
    box-shadow: 1.5px 2px 5px rgba(154, 154, 154, 0.8);

    border: none;
    outline: none;
    border-radius: 5px;
    margin: 7px 0;
    display:flex;
    flex-direction: column;
    float: left;
    width: 5rem;

  }

  .btn{
    
    background: #E6E6FA;
    border: none;
    padding: 8px 0px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
    margin: 2px 1px;
 
  }

  .btn-selected {
    background: #396a9b;
    color: white;
    border: none;
    padding: 8px 0px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
    margin: 2px 1px;
  }
  /* Add a background color on hover */
  .btn:hover {
    color: white;
    background-color: #396a9b;
  }


  #resetButton {
    margin-left: 5rem;
  }
  #resetButton:hover, #next:hover, #previous:hover{
    background-color: #E6E6FA;
    color: rgb(31, 56, 126);
    font-weight: bold;
  }

  #resetButton::before {
    font-family: fontAwesome;
    content: "\f002";
    color: #396a9b;
  }

  #next::before {
    font-family: fontAwesome;
    content: "\f138";
    color: #396a9b;
  }

  #previous::before {
    font-family: fontAwesome;
    content: "\f137";
    color: #396a9b;
  }



  #tooltip {
    text-align: left;
    padding: 16px;
    background-color: rgb(142, 161, 177);
    border: 1px solid black;
    width: auto;
    opacity: 0;
    color: black;
    position: absolute;
  }

  .menu{
    display: flex;
    flex-direction: row;
  }

  .vl {
    border-left: 2px solid rgb(202, 202, 202);
    height: 900px;
    margin: 0 1rem;
  }

  .svg-text {
    position: fixed;
    fill: #3E768C;
    font-weight: 500;
    z-index: -9;
    
  }


  /*DROP DOWN SECTION*/

  select {
    outline: none;
    border: none;
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    background: #E6E6FA;
    box-shadow: 1.5px 2px 5px rgba(154, 154, 154, 0.8);
  }
  
  select:hover {

    background: #dbdbe1;
  }

